@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

[class*=_ibg] {
  position: relative;
  overflow: hidden;
}

[class*=_ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._footer-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

._title {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
  font-weight: 500;
  font-family: "Tenor Sans", sans-serif;
  font-size: 40px;
  line-height: 130%;
  color: #000;
}

._btn {
  color: #fff;
  border: 2px solid #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

input {
  width: 100%;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 20px;
  border: 1px solid #b37256;
  color: #b37256;
}

input::-webkit-input-placeholder {
  color: #b37256;
  font-size: 14px;
}

input::-moz-placeholder {
  color: #b37256;
  font-size: 14px;
}

input:-ms-input-placeholder {
  color: #b37256;
  font-size: 14px;
}

input::-ms-input-placeholder {
  color: #b37256;
  font-size: 14px;
}

input::placeholder {
  color: #b37256;
  font-size: 14px;
}

._anim-show-title {
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

._anim-show-title._active,
._anim-show-title ._active ._anim-show-title {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

._anim-show-text {
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

._anim-show-text._active,
._anim-show-text ._active ._anim-show-text {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.6s ease 0.2s;
  -o-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
}

._anim-show-btn {
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

._anim-show-btn._active,
._anim-show-btn ._active ._anim-show-btn {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

._anim-show-image {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

._anim-show-image._active,
._anim-show-image ._active ._anim-show-image {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.6s ease 0.2s;
  -o-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
}

._anim-show-form {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

._anim-show-form._active,
._anim-show-form ._active ._anim-show-form {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.9s ease 0.3s;
  -o-transition: all 0.9s ease 0.3s;
  transition: all 0.9s ease 0.3s;
}

._bold {
  font-weight: bold;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 40px;
}

.header._scroll .header__wrapper {
  background: #b37256;
}

.header._scroll .header__body {
  min-height: 70px;
}

.header__wrapper {
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__body {
  -webkit-transition: min-height 0.3s ease 0s;
  -o-transition: min-height 0.3s ease 0s;
  transition: min-height 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
}

.header__tel {
  cursor: pointer;
  position: relative;
  font-size: 22px;
  font-family: "Tenor Sans", sans-serif;
  color: #fff;
}

.header__tel::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
  background: #fff;
}

.header__tel:hover::before {
  width: 100%;
}

.logo__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #fff;
}

.menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 431px;
          flex: 0 1 431px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 0 10px;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
  position: relative;
}

.menu__link::after {
  content: "";
  bottom: 0;
  left: 0px;
  position: absolute;
  background: #fff;
  width: 0px;
  height: 2px;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.menu__link:hover::after {
  width: 100%;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 0;
  position: relative;
}

.icon-menu {
  display: none;
}

.no-webp .intro-page{
  background: url("../images/bg.jpg") 0 0/cover no-repeat; }

.intro-page {
  height: 100vh;
}

.intro-page::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.intro-page__container {
  position: relative;
  z-index: 3;
}

.intro-page__body {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
}

.intro-page__title {
  font-family: "Tenor Sans", sans-serif;
  color: #fff;
  font-weight: bold;
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  font-size: 54px;
  margin-bottom: 20px;
}

.intro-page__title span {
  color: #b37256;
}

.intro-page__title._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.intro-page__text {
  color: #fff;
  line-height: 130%;
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  font-size: 16px;
  margin-bottom: 20px;
}

.intro-page__text._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.intro-page__button {
  font-size: 24px;
  padding: 0 30px;
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  min-height: 50px;
  margin-bottom: 100px;
}

.intro-page__button:hover {
  color: #b37256;
  border: 2px solid #b37256;
  border-radius: 10px;
}

.intro-page__button._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.intro-page__down {
  color: #fff;
  font-size: 40px;
  -webkit-animation-name: chevronDown;
          animation-name: chevronDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  position: relative;
  bottom: 20px;
}

@-webkit-keyframes chevronDown {
  0% {
    bottom: 0;
  }

  100% {
    bottom: -30px;
  }
}

@keyframes chevronDown {
  0% {
    bottom: 0;
  }

  100% {
    bottom: -30px;
  }
}

.page-advantages {
  margin-bottom: 100px;
}

.page-advantages__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 -15px;
}

.card-advantages {
  padding: 0 15px;
  text-align: center;
}

.card-advantages._active .card-advantages__icon {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.card-advantages._active .card-advantages__title {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.6s;
  -o-transition: all 0.8s ease 0.6s;
  transition: all 0.8s ease 0.6s;
}

.card-advantages._active .card-advantages__text {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.9s;
  -o-transition: all 0.8s ease 0.9s;
  transition: all 0.8s ease 0.9s;
}

.card-advantages__icon {
  font-size: 55px;
  color: #b37256;
  margin-bottom: 20px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.card-advantages__title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  opacity: 0;
}

.card-advantages__text {
  -webkit-transition: all 0.4s ease 0.4s;
  -o-transition: all 0.4s ease 0.4s;
  transition: all 0.4s ease 0.4s;
  opacity: 0;
  -webkit-transform: translate(0, 80%);
      -ms-transform: translate(0, 80%);
          transform: translate(0, 80%);
  line-height: 20px;
}

.no-webp .works-page{
  background: url("../images/works/bg-works-1.jpg") 0 0/cover no-repeat; }

.works-page {
  padding-bottom: 100px;
  position: relative;
}

.works-page::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(24, 24, 24, 0.4);
}

.works-page__title {
  position: relative;
  z-index: 5;
  color: #fff;
}

.swiper {
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 20%);
      -ms-transform: translate(0, 20%);
          transform: translate(0, 20%);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.swiper._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.6s ease 0.4s;
  -o-transition: all 0.6s ease 0.4s;
  transition: all 0.6s ease 0.4s;
}

.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  position: relative;
  z-index: 4;
  color: #fff;
  font-weight: bold;
}

.swiper-slide {
  margin-bottom: 20px;
  padding: 0 50px;
  background: transparent;
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  background: transparent;
  height: 500px;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

.grid div {
  display: inline-block;
  overflow: hidden;
  border-radius: 15px;
}

.grid div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.grid div img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/6/3;
  height: 91.5%;
}

.div2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/2/4;
}

.div3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1/4/2/5;
}

.div4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2/3/3/4;
}

.div5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 2/4/3/5;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: #fff;
}

.swiper-pagination .swiper-pagination-bullet-active {
  color: #fff;
  background: #b37256;
}

.about-page {
  padding-bottom: 50px;
}

.about-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-page__text {
  text-align: center;
  line-height: 130%;
  max-width: 600px;
  margin: 0 auto;
  font-size: 18px;
  margin-bottom: 40px;
}

.about-page__btn {
  color: #000;
  text-align: center;
  min-height: 50px;
  font-size: 20px;
  padding: 0 30px;
  border-radius: 15px;
  border: 2px solid #aa9081;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.about-page__btn:hover {
  background: #aa9081;
  color: #fff;
}

.no-webp .services-page{
  background: url("../images/services/bg-services-2.jpg") 0 0/cover no-repeat; }

.services-page {
  padding-bottom: 100px;
  position: relative;
}

.services-page::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.services-page__title {
  z-index: 10;
  position: relative;
  color: #fff;
}

.services-page__row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(253px, 1fr));
  gap: 20px;
}

.services-page__card {
  position: relative;
  z-index: 5;
}

.card-services._active .card-services__image {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.card-services._active .card-services__title {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.6s;
  -o-transition: all 0.8s ease 0.6s;
  transition: all 0.8s ease 0.6s;
}

.card-services__image {
  border-radius: 15px 15px 0 0;
  position: relative;
  overflow: hidden;
  padding-bottom: 120%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.card-services__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-services__title {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  opacity: 0;
  font-size: 14px;
  background: #fff;
  padding: 15px 20px;
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease 0s;
}

.card-services__title::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 20px;
  width: 20px;
  height: 2px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  background: #000;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.card-services__title::before {
  content: "";
  position: absolute;
  right: 12px;
  top: 20px;
  width: 20px;
  height: 2px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background: #000;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.card-services__title:hover,
.card-services__title._active {
  background: #b37256;
}

.card-services__title._active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.card-services__title._active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.card-services__list {
  position: relative;
  z-index: 4;
  background: #fff;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.card-services__list ul {
  background: #fff;
  padding: 20px 0;
}

.card-services__list ul li:not(last-child) {
  margin-bottom: 10px;
}

.form-page {
  padding-top: 100px;
  margin-bottom: 100px;
}

.form-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-page__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.form-page__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.form-page__form {
  padding-left: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-family: "Tenor Sans", sans-serif;
  font-size: 40px;
  color: #000;
}

.form__text {
  margin-bottom: 20px;
}

.form__name {
  margin-bottom: 20px;
}

.form__email {
  margin-bottom: 20px;
}

.form__button button {
  width: 100%;
  background: #b37256;
  color: #fff;
  border: 2px solid #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  font-size: 18px;
  min-height: 45px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer {
  background: #60736f;
}

.footer__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 1fr;
  grid-template-columns: 260px 1fr;
  -webkit-column-gap: 156px;
     -moz-column-gap: 156px;
          column-gap: 156px;
  padding: 70px 0px 98px 0px;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__logo {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.menu-footer__title {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
  font-family: "Tenor Sans", sans-serif;
  text-decoration: underline;
}

.menu-footer__list li:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.menu-footer__list_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

.menu-footer__list_icons li {
  padding: 0 10px;
  font-size: 50px;
}

.menu-footer__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu-footer__link:hover {
  color: #b37256;
}

.menu-footer__link_icon:hover {
  color: #b37256;
}

.menu-footer__link span {
  padding-left: 10px;
}

button {
  background-color: transparent;
}

body {
  color: #000;
  background: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

body._lock {
  overflow: hidden;
}

._container {
  max-width: 1254px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1266px) {
  .footer__body {
    display: block;
  }

  .footer__main {
    margin-bottom: 20px;
  }

  .footer__logo {
    margin-bottom: 30px;
  }
}

@media (max-width: 1254px) {
  ._title {
    font-size: calc(
				35px + 5 *
					((100vw - 320px) / 934)
			);
  }

  input {
    font-size: calc(
				16px + 4 *
					((100vw - 320px) / 934)
			);
  }

  .header__tel {
    font-size: calc(
				14px + 8 *
					((100vw - 320px) / 934)
			);
  }

  .intro-page__title {
    font-size: calc(
				34px + 20 *
					((100vw - 320px) / 934)
			);
  }

  .intro-page__title {
    margin-bottom: calc(
				10px + 10 *
					((100vw - 320px) / 934)
			);
  }

  .intro-page__text {
    font-size: calc(
				14px + 2 *
					((100vw - 320px) / 934)
			);
  }

  .intro-page__text {
    margin-bottom: calc(
				10px + 10 *
					((100vw - 320px) / 934)
			);
  }

  .intro-page__button {
    font-size: calc(
				14px + 10 *
					((100vw - 320px) / 934)
			);
  }

  .intro-page__button {
    min-height: calc(
				40px + 10 *
					((100vw - 320px) / 934)
			);
  }

  .intro-page__button {
    margin-bottom: calc(
				80px + 20 *
					((100vw - 320px) / 934)
			);
  }

  .swiper-slide {
    margin-bottom: calc(
				60px + -40 *
					((100vw - 320px) / 934)
			);
  }

  .about-page__text {
    font-size: calc(
				16px + 2 *
					((100vw - 320px) / 934)
			);
  }

  .about-page__btn {
    min-height: calc(
				45px + 5 *
					((100vw - 320px) / 934)
			);
  }

  .about-page__btn {
    font-size: calc(
				18px + 2 *
					((100vw - 320px) / 934)
			);
  }

  .form__title {
    font-size: calc(
				35px + 5 *
					((100vw - 320px) / 934)
			);
  }

  .form__button button {
    font-size: calc(
				14px + 4 *
					((100vw - 320px) / 934)
			);
  }

  .form__button button {
    min-height: calc(
				35px + 10 *
					((100vw - 320px) / 934)
			);
  }
}

@media (max-width: 991.98px) {
  .header._scroll .header__body {
    min-height: 90px;
  }

  .header__body {
    min-height: 90px;
  }
}

@media (max-width: 767.98px) {
  .header__logo {
    position: relative;
    z-index: 5;
    top: 0px;
    left: 0;
  }

  .logo__title {
    font-size: 18px;
  }

  .menu {
    -ms-flex-preferred-size: 900px;
        flex-basis: 900px;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background: #60736f;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 90px 15px 30px 15px;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 90px;
    top: 0px;
    left: -100%;
    background: #b37256;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 2;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    left: 0;
  }

  .menu__list {
    display: block;
  }

  .menu__item {
    margin-bottom: 15px;
  }

  .icon-menu {
    margin-left: 30px;
    position: relative;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    width: 30px;
    height: 18px;
    top: 0px;
    right: -5px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 46%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(43deg);
        -ms-transform: rotate(43deg);
            transform: rotate(43deg);
    top: 50%;
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 50%;
  }

  .page-advantages__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .card-advantages {
    margin-bottom: 20px;
  }

  .grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
  }

  .div1 {
    height: 100%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }

  .div2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
  }

  .div3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }

  .div4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
  }

  .div5 img {
    display: none;
  }

  .form-page__body {
    display: block;
  }

  .form-page__image {
    margin-bottom: 20px;
  }

  .form-page__form {
    padding-left: 0;
  }

  .form {
    text-align: center;
  }

  .menu-footer {
    display: block;
  }

  .menu-footer__column {
    margin-bottom: 45px;
  }
}

@media (max-width: 767.98px) and (max-width: 1254px) {
  .menu {
    -ms-flex-preferred-size: calc(
				55px + 845 *
					((100vw - 320px) / 934)
			);
        flex-basis: calc(
				55px + 845 *
					((100vw - 320px) / 934)
			);
  }

  .icon-menu {
    margin-left: calc(
				15px + 15 *
					((100vw - 320px) / 934)
			);
  }
}

@media (max-width: 576px) {
  .grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
  }

  .div1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1/1/2/3;
  }

  .div2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2/1/3/3;
  }

  .div3 img {
    display: none;
  }

  .div4 img {
    display: none;
  }
}

.webp .intro-page{ background: url(../images/bg.webp) 0 0/cover no-repeat; }

.webp .works-page{ background: url(../images/works/bg-works-1.webp) 0 0/cover no-repeat; }

.webp .services-page{ background: url(../images/services/bg-services-2.webp) 0 0/cover no-repeat; }