.about-page {
	padding-bottom: 50px;
	&__container {
	}
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__title {
	}
	&__text {
		text-align: center;
		line-height: 130%;
		max-width: 600px;
		margin: 0 auto;
		@include adaptiv-value('font-size', 18, 16, 1);
		margin-bottom: 40px;
	}
	&__btn {
		color: #000;
		text-align: center;
		@include adaptiv-value('min-height', 50, 45, 1);
		@include adaptiv-value('font-size', 20, 18, 1);
		padding: 0 30px;
		border-radius: 15px;
		border: 2px solid #aa9081;
		transition: all 0.5s ease 0s;
		&:hover {
			background: #aa9081;
			color: #fff;
		}
	}
}
