.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	min-height: 40px;
	&._scroll {
		.header__wrapper {
			background: $orangeColor;
		}
		.header__body {
			min-height: 70px;
			@media (max-width: $md2+px) {
				min-height: 90px;
			}
		}
	}
	&__wrapper {
		transition: background 0.3s ease 0s;
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 50;
	}

	&__container {
	}

	&__body {
		transition: min-height 0.3s ease 0s;
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 100px;
		@media (max-width: $md3+px) {
		}
		@media (max-width: $md2+px) {
			min-height: 90px;
		}
	}

	&__logo {
		@media (max-width: $md3+px) {
			position: relative;
			z-index: 5;
			top: 0px;
			left: 0;
		}
	}

	&__menu {
	}

	&__tel {
		cursor: pointer;
		position: relative;
		@include adaptiv-value('font-size', 22, 14, 1);
		font-family: 'Tenor Sans', sans-serif;
		color: #fff;
		&::before {
			content: '';
			position: absolute;
			bottom: -3px;
			left: 0;
			width: 0;
			height: 2px;
			transition: width 0.3s ease 0s;
			background: #fff;
		}
		&:hover::before {
			width: 100%;
		}
		@media (max-width: $md3+px) {
		}
	}
}

.logo {
	&__title {
		font-weight: 600;
		font-size: 22px;
		line-height: 33px;
		color: $whiteColor;
		@media (max-width: $md3+px) {
			font-size: 18px;
		}
	}
}
.menu {
	flex: 0 1 431px;
	@media (max-width: $md3+px) {
		@include adaptiv-value('flex-basis', 900, 55, 1);
	}
	&__body {
		@media (max-width: $md3+px) {
			position: fixed;
			width: 100%;
			height: 100%;
			overflow: auto;
			top: 0;
			left: -100%;
			background: #60736f;
			transition: left 0.3s ease 0s;
			padding: 90px 15px 30px 15px;
			&::before {
				content: '';
				position: fixed;
				width: 100%;
				height: 90px;
				top: 0px;
				left: -100%;
				background: $orangeColor;
				transition: left 0.3s ease 0s;
				z-index: 2;
			}
			&._active {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}

	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		@media (max-width: $md3+px) {
			display: block;
		}
	}

	&__link {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: $whiteColor;
		padding: 0 10px;
		transition: width 0.3s ease 0s;
		position: relative;
		&::after {
			content: '';
			bottom: 0;
			left: 0px;
			position: absolute;
			background: #fff;
			width: 0px;
			height: 2px;
			transition: width 0.3s ease 0s;
		}
		&:hover::after {
			width: 100%;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 5px 0;
		position: relative;
		@media (max-width: $md3+px) {
			margin-bottom: 15px;
		}
	}
}

// Menu burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		@include adaptiv-value('margin-left', 30, 15, 1);
		position: relative;
		display: block;
		flex: 0 0 30px;
		width: 30px;
		height: 18px;
		top: 0px;
		right: -5px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: 46%;
			left: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background: #fff;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(43deg);
					top: 50%;
				}
				&:last-child {
					transform: rotate(-45deg);
					bottom: 50%;
				}
			}
		}
	}
}
